header {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #555;
  top: 0;
}

#nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  gap: 10px;
}

#nav-bar ul li a {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  padding: 25px 30px;
  display: block;
  transition: transform 0.3s;
}

#nav-bar ul li a:hover {
  transform: scale(1.2);
}
